@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    color: black;
}

nav {
   display: flex;
   flex-direction: row; 
   align-items: center;
   justify-content: space-around;
   background-color: #EB6440;
}

nav .links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

nav .links a {
    text-decoration: none;
    font-weight: bolder;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 1200px;
}

.grid-item:nth-child(6n+ 1),
.grid-item:nth-child(6n+ 2),
.grid-item:nth-child(6n+ 3){
    grid-column: span 2;
}
.grid-item:nth-child(6n+ 4),
.grid-item:nth-child(6n+ 5){
    grid-column: span 3;
}

.grid-item:nth-child(6n+ 6){
    grid-column: span 6;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #EB6440;
    height: 80px;
}

footer p {
    font-size: 20px;
    font-weight: bolder;
    text-shadow: rgba(0, 0, 0, 0.356) 0px 4px 4px;
}

@media (max-width: 700px) {
    main {
        margin: 5% 10%;
    }
}